{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>Welcome to CineGeek</h1>
        <p>Stream your favorite movies anytime, anywhere.</p>
        <p>Access and manage your streaming platform securely through our admin interface.</p>
        <p>Secure Login: Authenticate using your credentials to access the admin features powered by SQLite for efficient data management.</p>
        <p>CineGeek 2.0 Beta Admin Dashboard leverages Flask for robust backend functionality, ensuring seamless content management and user administration. Join us in shaping the future of entertainment administration.</p>



        
    </div>
{% endblock %}
